.imgg{
   
    height: 450px;
    width: 450px;
    border-radius: 25px;
    border: 2px solid yellow;
}
.imggg{
    border-radius: 30px;
    border: 2px solid yellow;
}

/* .imgggg{
    height: 350px;
    width: 350px;
    border-radius: 25px;
    border: 2px solid yellow;
} */